main {
    font-family: Outfit, sans-serif;
    margin: 0;
    padding: 35% 5%;
    background-color: hsl(212, 45%, 89%);
}

.card {
    padding: 3%;
    border-radius: 10px;
    background-color: hsl(0, 0%, 100%);
    .qr-code {
        border-radius: 10px;
        img {
            width: 100%;
            border-radius: 10px;
        }
    }
   .text {
    padding: 1% 5%;
    text-align: center;
    font-size: large;
    h4 {
        font-weight: 800;
        color: hsl(218, 44%, 22%);
    }
    
    p {
        color: hsl(220, 15%, 55%);
        font-size: 15px;
       }
   }
}

@media only screen and (min-width: 820px) {
    main {
        padding: 7% 38%;
    }
}